@import "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// MARK: GENERAL STYLES
body {
  font-family: "Sohne", sans-serif;
  background-color: #f7f4ed;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  background: black;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  border: none;
}

// MARK: HEADER
header {
  padding: 20px;

  border-bottom: 1px solid black;

  font-size: 14px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    height: 30px;
  }
  nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

@media screen and (max-width: 720px) {
  .sm-hidden {
    display: none;
  }
}
// MARK: MAIN

main {
  .container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: orange;
    align-items: start;
    justify-content: center;
    gap: 40px;
  }
  h1 {
    font: {
      family: "GT Super", serif;
      size: 110px;
      weight: 400;
    }
    letter-spacing: -3px;
    line-height: 0.9;
  }

  p {
    font-size: 22px;
  }
  .btn {
    font-size: 22px;
  }
}

@media screen and (max-width: 900px) {
  main {
    .btn {
      background: #1a8917;
    }
  }
}
